#login { display: none; }
#loggedin { display: none; }
body { margin:0; padding:0; overflow: hidden;}
#map {
  border-left: 1px solid #fff;
  position: absolute;
  width: 100%;
  top:0;
  bottom:0;
}

#content {
  z-index: 10;
}

.map-legend .swatch {
  width:20px;
  height:20px;
  float:right;
  margin-right:12px;
  }

.leaflet-popup-close-button {
  display: none;
  }

.leaflet-popup-content-wrapper {
  pointer-events: none;
  }

.sidebar {
  width: 27%;
  float: right;
  background-color: #cecece;
  opacity: 0.95;
  border-left: 2px solid white;
  z-index: 1;
}

.sideinfo {
  padding: 0px 20px 0px 20px;
  margin: 0px;
  font-family: 'Cormorant Garamond', serif;
  color: #275f9d;
  font-weight: 700;
  clear: both;
  border-bottom: 2px solid white;
  height: 1500px;
}

.sideinfo h3 {
  font-size: 1.7em;
  line-height: 5px;
}

.sideinfo p {
  line-height: 30px;
  font-size: 1.25em;
}

#info {
  display: none;
}

#faq {
  display:none;
}

#collections {
  display:none;
}

#collections p {
  font-size: 1em;
}

#header {
  padding: 0px 20px 0px 20px;
  border-bottom: 2px solid white;
  display: none;
}

#header h1 {
  padding: 0px 0px;
  margin: 25px 0px 0px 0px;
  font-family: 'Josefin Sans', sans-serif;
  color: #cc4c02;
  font-weight: 800;
  text-align: center;
  font-size: 3.5em;
}

#navbar {
  padding: 0px 20px 0px 20px;
  margin: 0px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  clear: both;
  border-bottom: 2px solid white;
  text-align: center;
  display: none;
}

#navbar button {
  background-color: #cecece;
  color: #8c2d04;
  opacity: 0.95;
  border: none;
  font-size: 1.5em;
  font-weight: 500;
  margin: 5px 5px;
}

#icon {
  margin: 10px 0px 10px 10px;
  padding: 10px 10px;
  float: right;
  background-color: #cecece;
  opacity: 0.95;
  border: 3px solid white;
  border-right: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 7px;
  z-index: 1;
}

#my-video {
  max-width: 100%;
   max-height: 100%;
   display: inline-block;
   vertical-align: middle;
}

#touchPan {
  margin: 10px 0px 10px 10px;
  padding: 10px 10px;
  opacity: 0.95;
  position: fixed;
  width: 15%;
  height: 10%;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -7%;
  margin-left: -5%;
}
